@mixin button-hover($background_color) {
  background-color: $background_color;
  cursor: pointer;
  outline: none; // TODO: Fix -- accessibility
  border-color: black;
}

@mixin note-edit-focus() {
  outline: none; // TODO: Fix -- accessibility
  background-color: white;
  border-radius: 4px;
}

@mixin autocomplete-option {
}

@mixin autocomplete-new {
}
