@mixin button-invert-icon() {
  img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

@mixin button-uninvert-icon() {
  img {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }
}

@mixin button-hover($background_color) {
  background-color: $background_color;
  color: $font_color_ignores_theme;
  cursor: pointer;
  outline: none; // TODO: Fix -- accessibility
  border-color: white;
}

@mixin note-edit-focus() {
  outline: none; // TODO: Fix -- accessibility
  background-color: white;
  border-radius: 4px;
}

@mixin autocomplete-option {
  // TODO
}

@mixin autocomplete-new {
  // TODO
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
