@mixin button-hover($background_color) {
  background-color: $background_color;
  cursor: pointer;
  outline: none; // TODO: Fix -- accessibility
  border-color: black;
}

@mixin note-edit-focus() {
  outline: none; // TODO: Fix -- accessibility
  background-color: white;
  border-radius: 4px;
}

@mixin autocomplete-option {
  // TODO
}

@mixin autocomplete-new {
  // TODO
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
