// Fonts
$monospace: 'Courier New', Courier, monospace;
$main_font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sans_font: 'Avenir', 'Candara', 'Arial', sans-serif;

// $standard_button_border: 2px;
// $standard_button_border-radius: 4px;

$image_add_background: '/icons/plus.svg';
$image_remove_background: '/icons/cross.svg';
$image_stack_background: '/icons/stack.svg';
$image_tags_background: '/icons/tags.svg';

// TODO: use darken
// TODO: use saturdate/desaturate

// Actual Colors
$background_color: hsl(120, 50%, 98%);
$link_color: black;
$highlight: lighten(#add8e6, 15%);
$highlight_dark: lighten(#add8e6, 5%);
$selection_yellow: lightgoldenrodyellow;
$option_blue: $highlight;
$removal: lightcoral;
$grey1: #f4f4f4;
$grey2: #efefef;
$grey3: #d3d3d3;
$grey4: #dadada;
$grey5: darkgray;

// Semantic Colors
$note_background_edit: white;
$note_background_not_selected: #f2f2f2;
$note_background: white;
$note_border_edit: lightblue;
$note_border_focused: $grey5;
$note_border_selected: black;
$note_border: $grey2;
$note_input_background: $grey1;
$note_input_background_focus: $highlight_dark;

$button_background: $grey2;
$button_background_hover: lightcyan;
$button_selected: lightblue;
$button_shadow_color: $grey4;
