// Fonts
$monospace: 'Courier New', Courier, monospace;
$main_font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sans_font: 'Avenir', 'Candara', 'Arial', sans-serif;

// Colors
// TODO: Too many different grays
$background_color: hsl(120, 50%, 98%);
$selection_yellow: lightgoldenrodyellow;
$option_blue: #efffff;
$link_color: black;
$removal: lightcoral;

$de-emphasized-border-color: #ddd;
$de-emphasized-text-color: #404040;

$button_background: #efefef;
$button_background_hover: lightcyan;
$button_selected: lightblue;
$button_shadow_color: #dadada;

$note_background_edit: lightblue;
$note_background: #efefef;
$note_border_edit: lightblue;
$note_border_in_focus: lightgrey;
$note_border: white;

$note_border_focused: darkgray;
// TODO: use darken
// TODO: use saturdate/desaturate
// $selected_quote_background: ;
// $edited_quote_background: ;
// $standard_button_border: 2px;
// $standard_button_border-radius: 4px;

$image_add_background: '/icons/plus.svg';
$image_remove_background: '/icons/cross.svg';
$image_stack_background: '/icons/stack.svg';
$image_tags_background: '/icons/tags.svg';
