@import '_variables';
@import '_mixins';

body {
  background: $background_color;
  font-family: $main_font;
}

a {
  color: $link_color;
}

.url {
  font-family: $monospace;
}

div.main {
  width: 96%;
  margin: auto;
}

.top-bar {
  div & {
    width: 100%;
    min-height: 5em;
    display: block;
  }
  .title {
    display: inline-block;
    font-size: 50px;
    width: 50%;
  }

  .top-action-bar {
    display: inline-block;
    text-align: right;
    width: 50%;
    height: 45px;
    align-items: center;
  }

  .tool-bar {
    button {
      border-style: none;
      padding: 4px;
      margin: 0px;
    }

    .button {
      background: $button_background;
    }

    .button:hover {
      @include button-hover($button_background_hover);
    }

    .button-selected {
      background: $button_selected;
    }

    .button-selected:focus {
      outline: none;
    }

    .left {
      border-radius: 5px 0px 0px 5px;
    }

    .right {
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.top-level {
  &.button {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    background-color: white;
    height: 42px;

    &:hover {
      background: lightblue;
      cursor: pointer;
    }
  }
}

.note {
  &.outer {
    // TODO: Fix problem with children
    border-radius: 4px;
    border-style: solid;
    border-width: 8px;
    display: block;
    margin: 4px auto;
    max-width: 1200px;
    padding: 10px;

    &.normal,
    &.edit-idea {
      background-color: $note_background;
      border-color: $note_border;
    }

    &.edit {
      border-color: $note_border_edit;
      background-color: $note_background_edit;
    }

    &.in-focus {
      border-color: $note_border_in_focus;
      background-color: $note_background_in_focus;
    }

    &:focus {
      border-color: $note_border_focused;
      outline: none;
    }
  }

  .item-bottom {
    align-items: top;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 36px;
  }

  .title,
  .year,
  .citation {
    background-color: transparent;
    font-family: $main_font;
    font-size: 18px;
    margin: auto;
    padding: 8px;
    width: 90%;
    border-style: none;
    display: inline-block;

    &:focus {
      @include note-edit-focus;
    }

    &.imputed {
      color: $de-emphasized-text-color;
      font-style: oblique;
    }
  }

  .text {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: $main_font;
    font-size: 14px;
    height: 18em;
    margin: auto;
    padding: 8px;
    resize: none;
    width: 100%;
    white-space: pre-wrap;

    &:focus {
      @include note-edit-focus;
    }
  }

  .author,
  .work {
    &.label {
      background-color: transparent;
      display: inline-block;
      width: 50%;
      border: none;
      font-family: $main_font;
      font-size: 18px;
      padding: 8px 0px 8px 8px;

      &:focus {
        @include note-edit-focus;
      }
    }

    &.ul {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    &.li {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    .option {
      background: transparent;
      border: none;
      color: #393939;
      display: inline;
      margin: 4px;
      padding: 4px;
      font-size: 18px;
      font-family: $main_font;

      &::after {
        content: '? ';
      }

      // TODO: Add plus sign for new items
    }

    &.imputed {
      color: $de-emphasized-text-color;
      font-style: oblique;
    }
  }

  .year,
  .citation {
    width: 6%;
    text-align: right;
  }

  a.author,
  a.work {
    text-decoration: none;
  }

  .work {
    font-style: italic;
  }

  &.url {
    font-family: $monospace;
    border-style: none;
    padding: 4px;
    margin: 4px;
    background-color: transparent;

    a {
      text-decoration: none;
    }

    &:focus {
      @include note-edit-focus;
    }
  }
}

.noteEdit-author-label-option-new::before,
.noteEdit-work-label-option-new::before {
  background-image: url($image_add_background);
  background-size: 16px 16px;
  display: inline-block;
  width: 15px;
  height: 13px;
  content: '';
}

.action-bar {
  &.container {
    font-size: 15px;
    background-color: transparent;
    width: 40%;
    border: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: right;
  }

  .action-button {
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    border-radius: 6px;
    background-color: transparent;

    &:hover {
      background-color: white;
    }

    &:focus {
      box-shadow: 0px 0px 4px 4px $button_shadow_color;
      outline: none;
    }
  }
}

.idea {
  &.container {
    font-size: 15px;
    background-color: transparent;
    width: 60%;
    border: none;
    font-size: 18px;
    margin: 0px;
    padding: 2px;
  }

  &.label {
    background-color: white;
    border-radius: 4px;
    border-radius: 4px;
    border-style: none;
    color: black;
    font-size: 15px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &:focus {
      @include note-edit-focus;
    }

    &:hover {
      background-color: $selection_yellow;
      cursor: pointer;
    }

    &.edit::after {
      background-image: url($image_remove_background);
      background-size: 15px 15px;
      display: inline-block;
      width: 14px;
      height: 14px;
      content: '';
    }

    &.edit:hover {
      background-color: $removal;
    }
  }

  &.ul {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  .option {
    background-color: $option_blue;
    border-radius: 2px;
    border-radius: 4px;
    border-style: none;
    border-width: 0px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &::after {
      content: '? ';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 17px 17px;
      display: inline-block;
      width: 17px;
      height: 15px;
      content: '';
    }
  }
}

.pile {
  &.container {
    font-size: 15px;
    background-color: transparent;
    width: 60%;
    border: none;
    font-size: 18px;
    margin: 0px;
    padding: 2px;
  }

  &.label {
    background-color: transparent;
    border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    color: black;
    font-size: 18px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &::before {
      background-image: url($image_stack_background);
      background-size: 15px 15px;
      display: inline-block;
      width: 16px;
      height: 14px;
      content: '';
    }

    &:focus {
      @include note-edit-focus;
    }

    &:hover {
      background-color: $selection_yellow;
      cursor: pointer;
    }
  }

  &.ul {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  .option {
    background-color: $option_blue;
    border-radius: 2px;
    border-radius: 4px;
    border-style: none;
    border-width: 0px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &::after {
      content: '? ';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 17px 17px;
      display: inline-block;
      width: 17px;
      height: 15px;
      content: '';
    }
  }
}

.top-right {
  text-align: right;
}

.search-bar {
  &.container {
    border: 2px;
    border-style: solid;
    border-radius: 4px;
  }

  &.autocomplete {
    display: inline-block;
  }

  &.current-modifier {
    background: black;
    border-radius: 4px;
    border-style: none;
    color: white;
    display: inline-block;
    font-family: $main_font;
    font-size: 32px;
    margin: 4px;
    padding: 8px;
    vertical-align: top;
  }

  &.label {
    background: transparent;
    border-style: none;
    display: inline;
    font-family: $main_font;
    font-size: 32px;
    margin: 4px auto;
    padding: 8px;

    &:focus {
      outline: none; // TODO: Fix a11y
    }
  }

  &.ul {
    display: block;
    padding: 0px;
    margin: 0px;
  }

  &.li {
    display: inline;
  }

  &.option {
    background: transparent;
    font-size: 28px;
    border-color: $de-emphasized-border-color;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 4px;
    color: $de-emphasized-border-color;
    font-family: $main_font;

    &:focus {
      border-color: black;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      outline: none;
      color: black;
    }

    &:not(.new)::after {
      content: '?';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 24px 24px;
      display: inline-block;
      width: 22px;
      height: 22px;
      content: '';
    }
  }
}

// TODO: Sassify Slim

.note-slim-outer {
  color: green;
  display: flex;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: transparent;

  &.selected {
    background-color: $selection_yellow;
  }

  a {
    text-decoration: none;
  }
}

// TODO: Sassify Grid
.grid {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.grid-selected {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: $selection_yellow;
  align-items: center;
}

.grid-div-button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.grid-link,
a.grid-link {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 30px;
}

.grid-author,
.grid-title,
.grid-text {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
}

.grid-title {
  width: 22%;
}

.grid-text {
  width: 60%;
}

.grid-button {
  background: transparent;
  border-style: none;
}

.multi-select {
  font-size: 14px;
  font-family: $main_font;

  &.button {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    height: 42px;

    &.hidden {
      display: none;
    }
  }

  &.button:hover {
    background: lightblue;
    cursor: pointer;
  }

  &.button:focus {
    border-color: black;
    outline: none;
  }

  &.label {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
  }

  &.ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  &.option,
  &.option-new {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    background: transparent;
  }

  &.option:focus,
  &.option-new:focus {
    border-color: black;
  }

  // TODO: Create a mixin for the add button
  &.option-new::before {
    background-image: url($image_add_background);
    background-size: 17px 17px;
    display: inline-block;
    width: 15px;
    height: 13px;
    content: '';
  }
}

.multi-select-top-bar {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}
.flex-end {
  align-self: flex-end;
}

.section-header {
  font-size: 28px;

  padding: 18px 4px 4px 4px;
  margin: 4px;
}

.upload-form {
  display: inline;
  margin: auto;

  & input {
    border: none;
  }
}

.inline {
  display: inline-flex;
}

.image-row {
  div & {
    display: flex;
    flex-wrap: wrap;
  }

  &.image-frame {
    height: 180px;
    width: 130px;
    background-color: $background_color;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    vertical-align: center;
    display: flex;

    &.selected {
      background-color: $note_border_in_focus;
    }

    &:hover {
      background-color: $selection_yellow;
      cursor: pointer;
    }
  }

  img {
    max-height: 170px;
    max-width: 120px;
    margin: auto;
    display: block;
  }
}

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.large-image {
  max-width: 97%;
  margin: auto;
}
