@import '_variables';
@import '_mixins';

body {
  background: $background_color;
  font-family: $main_font;
}

a {
  color: black;
}

.url {
  font-family: $monospace;
}

div.main {
  width: 96%;
  margin: auto;
}

.top-bar {
  div & {
    width: 100%;
    min-height: 5em;
    display: block;
  }
  .title {
    display: inline-block;
    font-size: 50px;
    width: 50%;
  }

  .top-action-bar {
    display: inline-block;
    text-align: right;
    width: 50%;
  }

  .tool-bar {
    button {
      border-style: none;
      padding: 4px;
    }

    .button {
      background: $button_background;
    }

    .button:hover {
      @include button-hover($button_background_hover);
    }

    .button-selected {
      background: lightblue;
    }

    .button-selected:focus {
      outline: none;
    }

    .left {
      border-radius: 5px 0px 0px 5px;
    }

    .right {
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.note {
  &.outer {
    // TODO: Fix problem with children
    border-radius: 4px;
    border-style: solid;
    border-width: 8px;
    border-color: green;
    display: block;
    margin: 4px auto;
    max-width: 1200px;
    padding: 10px;

    &.normal,
    &.edit-idea {
      background-color: #efefef;
      border-color: white;
    }

    &.edit {
      border-color: gray;
      background: #eeeeee;
    }

    &.in-focus {
      border-color: gray;
      background: lightblue;
    }

    &:focus {
      border-color: red;
      outline: none;
    }
  }

  .item-bottom {
    align-items: top;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .title {
    background-color: transparent;
    font-family: $main_font;
    font-size: 18px;
    margin: auto;
    padding: 8px;
    width: 100%;
    border-style: none;

    &:focus {
      @include note-edit-focus;
    }
  }

  .text {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: $main_font;
    font-size: 14px;
    height: 18em;
    margin: auto;
    padding: 8px;
    resize: none;
    width: 100%;

    &:focus {
      @include note-edit-focus;
    }
  }

  .author,
  .work {
    &.label {
      background-color: transparent;
      display: inline-block;
      width: 40%;
      border: none;
      font-family: $main_font;
      font-size: 18px;
      padding: 8px 0px 8px 8px;

      &:focus {
        @include note-edit-focus;
      }
    }

    &.ul {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    &.li {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    .option {
      background: transparent;
      border: none;
      color: #393939;
      display: inline;
      margin: 4px;
      padding: 4px;
      font-size: 18px;
      font-family: $main_font;

      &::after {
        content: '? ';
      }

      // TODO: Add plus sign for new items
    }
  }

  a.author,
  a.work {
    text-decoration: none;
  }

  .work {
    font-style: italic;
  }
}

.noteEdit-author-label-option-new::before,
.noteEdit-work-label-option-new::before {
  background-image: url($image_add_background);
  background-size: 16px 16px;
  display: inline-block;
  width: 15px;
  height: 13px;
  content: '';
}

/* Action button related */
.noteNormal-action-button,
.noteEdit-action-button,
.noteEditIdea-action-button,
.noteInFocus-action-button {
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-decoration: none;

  color: black;
  font-size: 18px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

/* TODO: Todo */
.idea-exit-button {
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-decoration: none;

  color: black;
  font-size: 18px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

.noteNormal-actionBar,
.noteEdit-actionBar,
.noteInFocus-actionBar,
.noteEditIdea-actionBar {
  height: 100%;
  font-size: 15px;
  background-color: transparent;
  width: 40%;
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 8px;
  text-align: right;
}

.action-button:hover {
  background-color: white;
}

.action-button:focus {
  box-shadow: 0px 0px 4px 4px #dadada;
  outline: none;
}

/* IDEA RELATED */

.noteNormal-idea-list,
.noteEditIdea-idea-list,
.noteEdit-idea-list,
.noteInFocus-idea-list {
  height: 100%;
  font-size: 15px;
  background-color: transparent;
  width: 60%;
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 8px;
}

.noteNormal-idea-search-box,
.noteEdit-idea-search-box,
.noteEditIdea-idea-search-box,
.noteInFocus-idea-search-box {
  background-color: #ffe6f2;
  border-radius: 4px;
  border-style: none;
  color: black;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

.noteNormal-idea-search-box:focus,
.noteEdit-idea-search-box:focus,
.noteEditIdea-idea-search-box:focus,
.noteInFocus-idea-search-box:focus {
  outline: none;
  border-style: dashed;
  border-color: black;
  padding: 3px;
  border-width: 1px;
}

.noteNormal-idea-ul,
.noteEdit-idea-ul,
.noteEditIdea-idea-ul,
.noteInFocus-idea-ul {
  margin: 0px;
  padding: 0px;
}
.noteNormal-idea-li,
.noteEdit-idea-li,
.noteEditIdea-idea-li,
.noteInFocus-idea-li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

/* Existing idea button */
.noteNormal-idea-label,
.noteEditIdea-idea-label,
.noteInFocus-idea-label,
.noteEdit-idea-label {
  background-color: white;
  border-radius: 2px;
  border-radius: 4px;
  border-style: none;
  color: black;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

.noteNormal-idea-label:hover,
.noteEdit-idea-label:hover,
.noteInFocus-idea-label:hover,
.noteEditIdea-idea-label:hover {
  background-color: #ffe6f2;
  cursor: pointer;
}

/* Possible ideas to add */
.noteEditIdea-idea-option,
.noteEditIdea-idea-option-new {
  background-color: #efffff;
  border-radius: 2px;
  border-radius: 4px;
  border-style: none;
  border-width: 0px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

.noteEditIdea-idea-option-new {
  background-color: #efffef;
}

.noteEditIdea-idea-option-new::before {
  background-image: url($image_add_background);
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 15px;
  content: '';
}

.noteEditIdea-idea-option:focus,
.noteEditIdea-idea-option-new:focus {
  border-color: black;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  outline: none;
  padding: 3px;
}

.noteEditIdea-idea-option:hover,
.noteEditIdea-idea-option-new:hover {
  border-color: black;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  outline: none;
  padding: 3px;
}

.noteEdit-author-label-search-box,
.noteEdit-work-label-search-box {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin: auto;
  width: 300px;
  padding: 8px;
  width: 25%;
}

/* TODO: Make inputs grow with entry */
.noteEdit-work-label-search-box {
  font-style: italic;
  width: 300px;
}

.noteEdit-author-label-search-box:focus,
.noteEdit-work-label-search-box:focus {
  background-color: white;
}

.noteEdit-author-label-option:hover,
.noteEdit-author-label-option-new:hover,
.noteEdit-author-label-option:focus,
.noteEdit-author-label-option-new:focus,
.noteEdit-work-label-option:hover,
.noteEdit-work-label-option-new:hover,
.noteEdit-work-label-option:focus,
.noteEdit-work-label-option-new:focus {
  outline: none;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  margin: 3px;
}

.top-right {
  text-align: right;
}

/* TODO: Alignment isn't working right */
div.work-author-label,
input.work-author-label {
  font-size: 28px;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.work-author-label-search-box {
  background-color: transparent;
  border: none;
  font-size: 28px;
  text-align: right;
  margin: auto;
  width: 300px;
  padding: 8px;
}

.work-author-label-ul {
}
.work-author-label-li {
  display: inline;
}

.work-author-label-option,
.work-author-label-option-new {
  border: none;
  background: transparent;
  padding: 4px;
  margin: 4px;
  font-size: 18px;
}

.work-author-label-option {
  color: #303030;
}

.work-author-label-option::after {
  content: '?';
}

.work-author-label-option-new {
  border: none;
  background: transparent;
  padding: 4px;
  margin: 4px;
}

.work-author-label-option-new::before {
  background-image: url($image_add_background);
  background-size: 16px 16px;
  display: inline-block;
  width: 15px;
  height: 13px;
  content: '';
}

.search-bar {
  &.container {
    border: 2px;
    border-style: solid;
    border-radius: 4px;
  }

  &.autocomplete {
    display: inline-block;
  }

  &.current-modifier {
    background: black;
    border-radius: 4px;
    border-style: none;
    color: white;
    display: inline-block;
    font-family: $main_font;
    font-size: 32px;
    margin: 4px;
    padding: 8px;
    vertical-align: top;
  }

  &.label {
    background: transparent;
    border-style: none;
    display: inline;
    font-family: $main_font;
    font-size: 32px;
    margin: 4px auto;
    padding: 8px;
  }

  &.ul {
    display: block;
    padding: 0px;
    margin: 0px;
    color: red;
  }

  &.li {
    display: inline;
    color: green;
  }

  &.option {
    background: transparent;
    font-size: 28px;
    border-color: #ddd;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 4px;
    color: #404040;
    font-family: $main_font;

    &:focus {
      border-color: black;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      outline: none;
      color: black;
    }

    &:not(.new)::after {
      content: '?';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 24px 24px;
      display: inline-block;
      width: 22px;
      height: 22px;
      content: '';
    }
  }
}

div.note-slim {
  padding: 4px;
  margin: 4px;
}

a.note-slim {
  text-decoration: none;
}

div.note-slim:hover {
  background: #ddd;
  border-radius: 4px;
}

.slim-selected {
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}
.slim {
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
}

.grid {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.grid-selected {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: lightgoldenrodyellow;
  align-items: center;
}

.grid-div-button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.grid-link,
a.grid-link {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 30px;
}

.grid-author,
.grid-title,
.grid-text {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
}

.grid-title {
  width: 22%;
}

.grid-text {
  width: 60%;
}

.grid-button {
  background: transparent;
  border-style: none;
}

.multi-select {
  font-size: 14px;
  font-family: $main_font;

  .multi-select-button {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
  }

  .multi-select-button:hover {
    background: lightblue;
    cursor: pointer;
  }

  .multi-select-button:focus {
    border-color: black;
    outline: none;
  }

  .multi-select-search-box {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
  }

  .multi-select-ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  .multi-select-li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  // TODO: Create a mixin for options
  .multi-select-option,
  .multi-select-option-new {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 4px;
    border-style: solid;
    background: transparent;
  }

  .multi-select-option:focus,
  .multi-select-option-new:focus {
    border-color: black;
  }

  // TODO: Create a mixin for the add button
  .multi-select-option-new::before {
    background-image: url($image_add_background);
    background-size: 17px 17px;
    display: inline-block;
    width: 15px;
    height: 13px;
    content: '';
  }
}
