@import '_variables';
@import '_mixins';
@import '_note_full';
@import '_note_slim';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  max-width: 68em; 
  padding: 0px;
  margin: auto;
  color: $font_color;
}

body {
  background: $background_color;
  font-family: $main_font;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
}

a {
  color: $link_color;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.url {
  font-family: $monospace;
}

.top-bar {
  div & {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    position: sticky;
    top: 0;
    background: $background_color;
    z-index: 1;
  }

  .title-bar {
    display: none;
    width: 50%;
    align-self: flex-start;

    @include tablet-plus {
      display: block;
    }

    .title {
      font-size: 24px;
      padding: 8px 8px 8px 0px;
      @include tablet-plus {
        display: block;
        font-size: 34px;
      }
    }
  }

  .top-action-bar {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 4em;
    @include tablet-plus {
      width: 50%;
    }
  }

  .tool-bar.div {
      margin: 0px 0px 0px 10px;
      align-self: center;
    
  }
}

.standard-button {
    background-color: $button_background;
    color: $font_color;
    border-color: $white;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    font-family: $main_font;
    height: 42px;
    margin: 4px 0px 4px 0px;
    padding: 6px;
    @media (prefers-color-scheme: dark) {
      @include button-invert-icon();
    }
    

  +.standard-button {
    margin-left: 4px;
  }

  &.left {
    border-radius: 4px 0px 0px 4px;
    border-right: 0px;
  }

  &.right {
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
    margin-left: 0px;
  }

  &.left-right {
    border-radius: 4px 4px 4px 4px;
  }

  &.middle {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
  }

  &.button-selected:focus {
    border-color: $button_selected;
    outline: none;
  }

  &.button-selected {
    background-color: $button_selected;
    @include button-uninvert-icon();
  }

  &:focus {
    border-color: $button_selected;
    outline: none;
  }

  &:hover {
    @include button-hover($button_background_hover);
  }

  &.hidden {
    display: none;
  }
}

.idea,.pile {
  &.container {
    background-color: transparent;
    width: 60%;
    border: none;
    font-size: 18px;
    margin: 0px;
    padding: 2px;
  }

  &.search-box {
    font-family: $main_font;
    border: solid;
    border-radius: 4px;
    font-size: 15px;
    margin: 4px;
    padding: 4px;
    
    &:focus {
      outline: none; // TODO: Fix a11y
    }

    &.pile {
      border-color: $semantic_pile;
    }
  
    &.idea {
      border-color: $semantic_idea;
    }
  }

  &.label {
    border-style: solid;
    border-radius: 4px;
    border-style: solid;
    border-color: $white;
    color: $black;
    font-size: 15px;
    margin: 2px 0px 2px 0px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &:focus {
      border-color: $black;
    }

    &:hover {
      background-color: $semantic_selection;
      cursor: pointer;
    }

    &.edit:hover {
      background-color: $semantic_removal;
    }

    &.edit::after {
      background-image: url($image_remove_background);
      background-size: 15px 15px;
      display: inline-block;
      width: 14px;
      height: 14px;
      content: '';
    }

    &.pile {
      background-color: $semantic_pile;
    }

  
    &.idea {
      background-color: $semantic_idea;
    }
  }

  &.pre {
    font-size: 10px;
    background-color: white;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: bottom;
  }

  &.ul {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  &.autocomplete-div {
    text-align: right;
  }

  .option {
    border-radius: 4px;
    border-style: none;
    border-width: 0px;
    color: $black;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    font-family: $main_font;

    &.pile {
      background-color: $semantic_pile;
    }
  
    &.idea {
      background-color: $semantic_idea;
    }

    &::after {
      content: '? ';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 17px 17px;
      display: inline-block;
      width: 17px;
      height: 15px;
      content: '';
    }
  }
}

.pile-select {
  &.search-box {
    background-color: $note_background_edit;
    border-color: $white;
    border-radius: 4px;
    border-style: solid;
    color: $black;
    font-family: $main_font;
    font-size: 18px;
    margin: 0px;
    padding: 4px;
    text-decoration: none;
  }

  &.button {
    border-color: $white;
    border-radius: 4px;
    border-style: solid;
    color: $black;
    font-family: $main_font;
    font-size: 18px;
    margin: 0px;
    padding: 4px;
    text-decoration: none;
    background-color: $grey2;

    &:hover {
      cursor: pointer;
      background-color: $semantic_selection;
      outline: none;
    }
  }

  &.autocomplete-div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  &.ul {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  &.option {
    background: transparent;
    border: none;
    color: $grey5;
    display: inline;
    margin: 0px;
    padding: 4px;
    font-size: 18px;
    font-family: $main_font;

    &::after {
      content: '? ';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 17px 17px;
      display: inline-block;
      width: 17px;
      height: 15px;
      content: '';
    }
  }
}

.search-bar {
  &.container {
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    width: 100%;
    background-color: $background_color;
    display: flex;
  }

  &.autocomplete-div {
    display: inline-block;
  }

  &.current-modifier {
    background: $black;
    border-radius: 4px;
    border-style: none;
    color: $white;
    display: inline-block;
    font-family: $main_font;
    font-size: 28px;
    margin: -2px;
    padding: 12px;
    vertical-align: top;
  }

  &.search-box {
    background: transparent;
    border-style: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 28px;
    margin: 4px auto;
    padding: 6px;
    width: 100%;

    &:focus {
      outline: none; // TODO: Fix a11y
    }
  }

  &.ul {
    display: block;
    padding: 0px;
    margin: 0px;
  }

  &.li {
    display: inline;
  }

  &.option {
    background-color: $button_background;
    border-color: $white;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    font-family: $main_font;
    font-size: 28px;
    margin: 4px;
    padding: 4px;
    text-align: left;

    &:focus {
      background-color: $highlight_blue;
      border-color: $black;
      outline: none;
    }

    &:not(.new)::after {
      content: '?';
    }

    &.new::before {
      background-image: url($image_add_background);
      background-size: 24px 24px;
      display: inline-block;
      width: 22px;
      height: 22px;
      content: '';
    }
  }
}

// TODO: Sassify Grid
.grid {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.grid-selected {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: $semantic_selection;
  align-items: center;
}

.grid-div-button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.grid-link,
a.grid-link {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 30px;
}

.grid-author,
.grid-title,
.grid-text {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
  font-size: 12px;
}

.grid-nick{
  width: 8%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
}

.grid-title {
  width: 22%;
  font-size: 12px;
}

.grid-text {
  width: 55%;
  font-size: 12px;
}

.grid-unprintable {
  color: $background_color;
}

.grid-button {
  background: transparent;
  border-style: none;
}

.multi-select {
  position: relative;
  font-size: 14px;
  font-family: $main_font;

  &.search-box {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: $black;
    border-radius: 4px;
    border-style: solid;
  }

  &.ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  &.li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  &.option,
  &.option-new {
    font-family: $main_font;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: $button_background;
    border-radius: 4px;
    border-style: solid;
    background: $white;
    text-align: left;
  }

  &.option:focus,
  &.option-new:focus {
    border-color: $black;
  }

  // TODO: Create a mixin for the add button
  &.option-new::before {
    background-image: url($image_add_background);
    background-size: 17px 17px;
    display: inline-block;
    width: 15px;
    height: 13px;
    content: '';
  }
}

.multi-select-top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 4em;
  background: $background_color;
  padding-bottom: 4px;
  padding-top: 4px;
  min-height: 52px;
}

.image-row {
  div & {
    display: flex;
    flex-wrap: wrap;
  }

  &.image-frame {
    height: 120px;
    width: 80px;
    background-color: $background_color;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    vertical-align: center;
    display: flex;

    &.selected {
      background-color: $highlight_blue;
    }

    &:hover {
      background-color: $semantic_selection;
      cursor: pointer;
    }

    &.remove:hover {
      background-color: $semantic_removal;
    }
  }

  img {
    max-height: 110px;
    max-width: 70px;
    margin: auto;
    display: block;
  }
}

.large-image {
  max-width: 98%;
  margin: auto;
  max-height: 98%
}

.work-list {
  & a {
    text-decoration: none;
  }

  .work {
    font-size: 18px;
    padding: 4px;
    margin: 4px;

    &:hover {
      background-color: $white;
      border-radius: 4px;
    }
  }

  .date {
    font-size: 14px;
    padding: 4px;
    margin: 4px;
  }
}

.result-box {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 18px;

  &.header {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.content {
    display: block;
    padding: 0px;
    margin: 8px 10px 0px 16px;
    display: flex;
    align-items: flex-start;
  }

  &:hover {
    background-color: $note_background_edit;
  }

  &.parent {
    display: block;
    padding: 0px;
    margin: 8px 10px 0px 16px;
    display: flex;
    align-items: flex-start;

    &:hover {
      background-color: transparent;
    }
  }

  .date {
    font-size: 14px;
    padding: 4px;
    margin: 4px;
  }
}

.top-level {
  &.container {
    display: flex;
    flex-direction: column;
  }

  &.pre-title {
    font-size: 18px;
    align-self: center;
    font-family: $sans_font;
    text-transform: uppercase;
  }

  &.title {
    font-size: 30px;
  }

  &.sub-title {
    font-size: 22px;
  }

  &.post-button-content {
    white-space: pre-wrap;
    display:block;
    background-color: $white;
    border-color: $note_border;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin: 0px 0px 4px 0px;
    padding: 6px;
  }

  &.form-label {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $sans_font;
    display: block;
    color: $font_color;
  }

  &.form-container {
    padding: 4px;
  }

  &.input {
    background-color: transparent;
    border-color: $white;
    font-family: $main_font;
    font-size: 20px;
    width: 100%;
    background-color: $button_selected;
    padding: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: $white;
    border-width: 1px;


    &.textarea {
      box-sizing: border-box;
      display: block;
      margin: auto;
      resize: none;
      white-space: pre-wrap;
    }
  }

  // TODO: Clean up
  &.author-select {
    &.search-box {
      display: inline-block;
      border: none;
      font-family: $main_font;
      font-size: 20px;
      background-color: $button_selected;
      padding: 4px;
      border-radius: 4px;
      border-style: solid;
      border-color: $white;
      border-width: 1px;
    }

    &.autocomplete-div {
      display: inline-block;
    }

    &.ul {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    &.li {
      display: inline;
      margin: 0px;
      padding: 0px;
    }

    &.option {
      background: transparent;
      border: none;
      color: $grey5;
      display: inline;
      margin: 0px;
      padding: 4px;
      font-size: 20px;
      font-family: $main_font;

      &::after {
        content: '? ';
      }

      &.new::before {
        background-image: url($image_add_background);
        background-size: 17px 17px;
        display: inline-block;
        width: 17px;
        height: 15px;
        content: '';
      }
    }
  }
}

.upload-form {
  &.hidden {
    visibility: hidden;
    display: none;
  }

  display:inline;
  
}

.file-drop {
  display: inline-block;
  background-color:$button_background;
  border-color: $white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-family: $main_font;
  height: 42px;
  font-size: 14px;
  height: 42px;
  margin: 4px 0px 4px 0px;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;

  &.no-margin-no-border {
    margin: 0px;
    border-width: 0px;
  }

  &:hover {
    @include button-hover($button_background_hover);
  }
}

.drag-active {
  @include button-hover($button_background_hover);
}

.upload-label {
  cursor: pointer;
}