body {
  background: #f7fcf7;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

a {
  color: black; }

.url {
  font-family: "Courier New", Courier, monospace; }

div.main {
  width: 96%;
  margin: auto; }

div .top-bar {
  width: 100%;
  min-height: 5em;
  display: block; }
.top-bar .title {
  display: inline-block;
  font-size: 50px;
  width: 50%; }
.top-bar .top-action-bar {
  display: inline-block;
  text-align: right;
  width: 50%;
  height: 45px;
  align-items: center; }
.top-bar .tool-bar button {
  border-style: none;
  padding: 4px;
  margin: 0px; }
.top-bar .tool-bar .button {
  background: #efefef; }
.top-bar .tool-bar .button:hover {
  background-color: lightcyan;
  cursor: pointer;
  outline: none;
  border-color: black; }
.top-bar .tool-bar .button-selected {
  background: lightblue; }
.top-bar .tool-bar .button-selected:focus {
  outline: none; }
.top-bar .tool-bar .left {
  border-radius: 5px 0px 0px 5px; }
.top-bar .tool-bar .right {
  border-radius: 0px 5px 5px 0px; }

.top-level.button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 8px;
  margin: 2px;
  border-width: 2px;
  border-color: white;
  border-radius: 4px;
  border-style: solid;
  background-color: white;
  height: 42px; }
  .top-level.button:hover {
    background: lightblue;
    cursor: pointer; }

.note-full.outer {
  background-color: #efefef;
  border-radius: 4px;
  margin: 4px;
  padding: 4px; }
  .note-full.outer.edit-note, .note-full.outer.edit-idea {
    background-color: lightblue; }
.note-full .left-right-bar {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px; }
.note-full .idea-container,
.note-full .action-bar,
.note-full .title,
.note-full .year,
.note-full .citation,
.note-full .url {
  font-size: 18px;
  margin: 4px;
  padding: 4px; }
.note-full .title,
.note-full .year,
.note-full .citation,
.note-full .url {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: transparent;
  border-style: none;
  display: inline-block; }
.note-full .url {
  font-family: "Courier New", Courier, monospace; }
.note-full .title,
.note-full .url {
  width: 85%; }
.note-full .year,
.note-full .citation {
  width: 8%;
  text-align: right; }
.note-full .note-text,
.note-full .author,
.note-full .work {
  margin: 4px;
  padding: 4px; }
  .note-full .note-text.imputed, .note-full .note-text.work,
  .note-full .author.imputed,
  .note-full .author.work,
  .note-full .work.imputed,
  .note-full .work.work {
    font-style: italic; }
  .note-full .note-text.label,
  .note-full .author.label,
  .note-full .work.label {
    text-decoration: none; }
.note-full .note-text,
.note-full .url {
  font-size: 14px; }
.note-full .pile.container {
  font-size: 15px;
  background-color: transparent;
  padding: 2px; }
.note-full .pile.label {
  border-radius: 4px;
  border-style: solid;
  border-color: white;
  color: black;
  font-size: 18px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .note-full .pile.label::before {
    background-image: url("/icons/stack.svg");
    background-size: 15px 15px;
    display: inline-block;
    width: 16px;
    height: 14px;
    content: ''; }
  .note-full .pile.label:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer; }
.note-full .note-text {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  height: 18em;
  margin: auto;
  padding: 8px;
  resize: none;
  width: 100%;
  white-space: pre-wrap; }
.note-full .author.label,
.note-full .work.label {
  background-color: transparent;
  display: inline-block;
  width: 50%;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  padding: 4px 4px 4px 8px;
  margin: 0px; }
  .note-full .author.label:focus,
  .note-full .work.label:focus {
    outline: none;
    background-color: white;
    border-radius: 4px; }
.note-full .author.autocomplete,
.note-full .work.autocomplete {
  margin: 0px;
  padding: 0px; }
.note-full .author.ul,
.note-full .work.ul {
  display: inline;
  margin: 0px;
  padding: 0px; }
.note-full .author.li,
.note-full .work.li {
  display: inline;
  margin: 0px;
  padding: 0px; }
.note-full .author.option,
.note-full .work.option {
  background: transparent;
  border: none;
  color: #393939;
  display: inline;
  margin: 0px;
  padding: 4px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .note-full .author.option::after,
  .note-full .work.option::after {
    content: '? '; }

.action-bar.container {
  font-size: 15px;
  background-color: transparent;
  width: 40%;
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  text-align: right; }
.action-bar .action-button {
  border-style: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
  border-radius: 6px;
  background-color: transparent; }
  .action-bar .action-button:hover {
    background-color: white; }
  .action-bar .action-button:focus {
    box-shadow: 0px 0px 4px 4px #dadada;
    outline: none; }

.idea.container {
  font-size: 15px;
  background-color: transparent;
  width: 60%;
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 2px; }
.idea.label {
  background-color: white;
  border-radius: 4px;
  border-radius: 4px;
  border-style: none;
  color: black;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .idea.label:focus {
    outline: none;
    background-color: white;
    border-radius: 4px; }
  .idea.label:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer; }
  .idea.label.edit::after {
    background-image: url("/icons/cross.svg");
    background-size: 15px 15px;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: ''; }
  .idea.label.edit:hover {
    background-color: lightcoral; }
.idea.ul {
  display: block;
  margin: 0px;
  padding: 0px; }
.idea.li {
  display: inline;
  margin: 0px;
  padding: 0px; }
.idea.autocomplete {
  text-align: right; }
.idea .option {
  background-color: #efffff;
  border-radius: 2px;
  border-radius: 4px;
  border-style: none;
  border-width: 0px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .idea .option::after {
    content: '? '; }
  .idea .option.new::before {
    background-image: url("/icons/plus.svg");
    background-size: 17px 17px;
    display: inline-block;
    width: 17px;
    height: 15px;
    content: ''; }

.top-right {
  text-align: right; }

.search-bar.container {
  border: 2px;
  border-style: solid;
  border-radius: 4px; }
.search-bar.autocomplete {
  display: inline-block; }
.search-bar.current-modifier {
  background: black;
  border-radius: 4px;
  border-style: none;
  color: white;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  margin: 4px;
  padding: 8px;
  vertical-align: top; }
.search-bar.label {
  background: transparent;
  border-style: none;
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  margin: 4px auto;
  padding: 8px; }
  .search-bar.label:focus {
    outline: none; }
.search-bar.ul {
  display: block;
  padding: 0px;
  margin: 0px; }
.search-bar.li {
  display: inline; }
.search-bar.option {
  background: transparent;
  font-size: 28px;
  border-color: #dddddd;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
  color: #dddddd;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .search-bar.option:focus {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    color: black; }
  .search-bar.option:not(.new)::after {
    content: '?'; }
  .search-bar.option.new::before {
    background-image: url("/icons/plus.svg");
    background-size: 24px 24px;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: ''; }

.note-slim-outer {
  color: green;
  display: flex;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: transparent; }
  .note-slim-outer.selected {
    background-color: lightgoldenrodyellow; }
  .note-slim-outer a {
    text-decoration: none; }

.grid {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.grid-selected {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: lightgoldenrodyellow;
  align-items: center; }

.grid-div-button {
  display: inline-block;
  vertical-align: middle;
  height: 30px; }

.grid-link,
a.grid-link {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 30px; }

.grid-author,
.grid-title,
.grid-text {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px; }

.grid-title {
  width: 22%; }

.grid-text {
  width: 60%; }

.grid-button {
  background: transparent;
  border-style: none; }

.multi-select {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .multi-select.button {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    height: 42px; }
    .multi-select.button.hidden {
      display: none; }
  .multi-select.button:hover {
    background: lightblue;
    cursor: pointer; }
  .multi-select.button:focus {
    border-color: black;
    outline: none; }
  .multi-select.label {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    border-style: solid; }
  .multi-select.ul {
    display: inline-block;
    margin: 0px;
    padding: 0px; }
  .multi-select.li {
    display: inline-block;
    margin: 0px;
    padding: 0px; }
  .multi-select.option, .multi-select.option-new {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 8px;
    margin: 2px;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    background: transparent; }
  .multi-select.option:focus, .multi-select.option-new:focus {
    border-color: black; }
  .multi-select.option-new::before {
    background-image: url("/icons/plus.svg");
    background-size: 17px 17px;
    display: inline-block;
    width: 15px;
    height: 13px;
    content: ''; }

.multi-select-top-bar {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between; }

.flex-end {
  align-self: flex-end; }

.section-header {
  font-size: 28px;
  padding: 18px 4px 4px 4px;
  margin: 4px; }

.upload-form {
  display: inline;
  margin: auto; }
  .upload-form input {
    border: none; }

.inline {
  display: inline-flex; }

div .image-row {
  display: flex;
  flex-wrap: wrap; }
.image-row.image-frame {
  height: 180px;
  width: 130px;
  background-color: #f7fcf7;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  vertical-align: center;
  display: flex; }
  .image-row.image-frame.selected {
    background-color: white; }
  .image-row.image-frame:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer; }
.image-row img {
  max-height: 170px;
  max-width: 120px;
  margin: auto;
  display: block; }

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top; }

.large-image {
  max-width: 97%;
  margin: auto; }

.title {
  font-size: 28px; }

.work-list a {
  text-decoration: none; }
.work-list .work {
  font-size: 18px;
  padding: 4px;
  margin: 4px; }
  .work-list .work:hover {
    background-color: white;
    border-radius: 4px; }
.work-list .date {
  font-size: 14px;
  padding: 4px;
  margin: 4px; }

.slim-inner-container {
  margin: 4px; }
  .slim-inner-container .pile,
  .slim-inner-container .idea {
    border-radius: 4px;
    border-radius: 4px;
    border-style: none;
    color: black;
    font-size: 13px;
    margin: 4px;
    padding: 2px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .slim-inner-container .pile {
    background-color: white; }
  .slim-inner-container .pile::before {
    background-image: url("/icons/stack.svg");
    background-size: 13px 15px;
    display: inline-block;
    width: 13px;
    height: 13px;
    content: ''; }
  .slim-inner-container .idea::before {
    background-image: url("/icons/tags.svg");
    background-size: 13px 13px;
    display: inline-block;
    width: 14px;
    height: 13px;
    content: ''; }

.result-box {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 18px; }
  .result-box.header {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-start; }
  .result-box .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .result-box.content {
    display: block;
    padding: 0px;
    margin: 8px 10px 0px 16px;
    display: flex;
    align-items: flex-start; }
  .result-box:hover {
    background-color: lightblue; }

a {
  text-decoration: none; }
