:root {
  --background-color: #F7FCF7;
  --semantic-idea: #e8f4f8;
  --semantic-pile: #f3e8f8;
  --semantic-selection: lightgoldenrodyellow;
  --semantic-removal: lightcoral;
  --input-background-focus: #e8f4f8;
  --input-background: #efefef;
  --note-background-edit: white;
  --note-background-not-selected: #f4f4f4;
  --note-background: white;
  --font-color: black;
  --link-color: black;
  --font-color-ignores-theme: black;
  --inverse-background-color: #071207;
  --inverse-font-color: white;
  --low-intensity-border: white;
  --note-border-edit: #c1e1ec;
  --note-border-focused: darkgray;
  --note-border-selected: black;
  --note-border: #efefef;
  --button-background-hover: #e8f4f8;
  --button-background: #efefef;
  --button-selected: #c1e1ec;
  --button-shadow-color: darkgray;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #071207;
    --semantic-idea: #0e262e;
    --semantic-pile: #2b1137;
    --semantic-selection: #3e3e07;
    --semantic-removal: #310606;
    --input-background-focus: #091a1f;
    --input-background: #071207;
    --note-background-edit: #071216;
    --note-background-not-selected: #f4f4f4;
    --note-background: #040b04;
    --link-color: white;
    --font-color: white;
    --font-color-ignores-theme: black;
    --inverse-background-color: #F7FCF7;
    --inverse-font-color: black;
    --low-intensity-border: #040b04;
    --note-border-edit: #091a1f;
    --note-border-focused: darkgray;
    --note-border-selected: #efefef;
    --note-border: #0e240e;
    --button-background-hover: #e8f4f8;
    --button-background: black;
    --button-selected: #c1e1ec;
    --button-shadow-color: darkgray;
  }
}

.note-full.outer {
  background-color: var(--note-background);
  border-color: var(--note-border);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 0px 0px 4px 0px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}
.note-full.outer:focus {
  border-color: var(--noteborder-focused);
  outline: none;
}
.note-full.outer.selected {
  border-color: var(--note-border-selected);
}
.note-full.outer.edit-note, .note-full.outer.edit-idea {
  background-color: var(--note-background-edit);
  border-color: var(--note-border-edit);
}
.note-full.outer.not-selected {
  background-color: var(--note_background-not-selected);
}
.note-full.outer.show-full-image {
  min-height: 90%;
}
.note-full .half-width,
.note-full .full-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}
.note-full .half-width.half-width,
.note-full .full-width.half-width {
  width: 50%;
  align-content: start;
}
.note-full .half-width.half-width.image-div,
.note-full .full-width.half-width.image-div {
  align-content: center;
  min-height: 100%;
}
.note-full .half-width.full-width,
.note-full .full-width.full-width {
  width: 100%;
}
.note-full .idea-container,
.note-full .title,
.note-full .year,
.note-full .page,
.note-full .url {
  margin: 2px;
  padding: 2px;
}
.note-full .title,
.note-full .year,
.note-full .page,
.note-full .url {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-style: none;
  display: inline-block;
  color: var(--font-color);
}
.note-full .url {
  font-family: "Courier New", Courier, monospace;
}
.note-full .width-80 {
  width: 100%;
  margin: 0px;
  padding: 2px;
}
@media (min-width: 768px) {
  .note-full .width-80 {
    width: 75%;
  }
}
.note-full .width-20 {
  width: 100%;
  margin: 0px;
  padding: 2px;
}
@media (min-width: 768px) {
  .note-full .width-20 {
    width: 25%;
  }
}
.note-full .width-100 {
  width: 100%;
  margin: 0px;
  padding: 2px;
}
.note-full .year,
.note-full .page {
  width: 100%;
  text-align: left;
  border-radius: 4px;
}
.note-full .year.input,
.note-full .page.input {
  width: 100%;
  text-align: left;
}
.note-full .year.edit,
.note-full .page.edit {
  background-color: var(--input-background);
  color: var(--font-color);
}
.note-full .year:focus,
.note-full .page:focus {
  background-color: var(--input-background-focus);
  outline: none;
  border-radius: 2px;
}
.note-full .citation {
  padding: 2px;
}
.note-full .note-text,
.note-full .note-take {
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  margin: auto;
  padding: 2px;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
  overflow-x: hidden;
  color: var(--font-color);
}
.note-full .note-text.note-take,
.note-full .note-take.note-take {
  color: black;
  background-color: var(--background-color);
  font-style: italic;
  font-size: 12px;
  padding: 4px;
}
.note-full .note-text.edit,
.note-full .note-take.edit {
  background-color: var(--input-background);
  color: var(--font-color);
}
.note-full .note-text:focus,
.note-full .note-take:focus {
  background-color: var(--input-background-focus);
  outline: none;
  border-radius: 2px;
}
.note-full .note-text.abbreviate,
.note-full .note-take.abbreviate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.note-full .title,
.note-full .url {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  color: var(--font-color);
}
.note-full .title.input,
.note-full .url.input {
  width: 100%;
  text-align: left;
}
.note-full .title.edit,
.note-full .url.edit {
  background-color: var(--input-background);
  color: var(--font-color);
}
.note-full .title:focus,
.note-full .url:focus {
  background-color: var(--input-background-focus);
  outline: none;
  border-radius: 2px;
}
.note-full .title {
  font-size: 18px;
}
.note-full .note-text,
.note-full .note-take {
  padding: 2px;
}
.note-full .note-text.imputed, .note-full .note-text.work,
.note-full .note-take.imputed,
.note-full .note-take.work {
  font-style: italic;
}
.note-full .note-text.label,
.note-full .note-take.label {
  text-decoration: none;
}
input .note-full .note-text,
input .note-full .note-take {
  width: 100%;
  text-align: left;
  background-color: var(--input-background);
}
.note-full .edit-author.search-box,
.note-full .edit-work.search-box {
  background-color: var(--input-background);
  border-radius: 4px;
  display: inline-block;
  width: 50%;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  padding: 4px 4px 4px 8px;
  margin: 0px;
  text-decoration: none;
  color: var(--font-color);
}
.note-full .edit-author.search-box:focus,
.note-full .edit-work.search-box:focus {
  background-color: var(--input-background-focus);
  outline: none;
  border-radius: 2px;
}
input .note-full .edit-author,
input .note-full .edit-work {
  width: 100%;
  text-align: left;
  background-color: var(--input-background);
}
.note-full .edit-author.imputed, .note-full .edit-author.work,
.note-full .edit-work.imputed,
.note-full .edit-work.work {
  font-style: italic;
}
.note-full .edit-author.autocomplete-div,
.note-full .edit-work.autocomplete-div {
  margin: 0px;
  padding: 0px;
}
.note-full .edit-author.ul,
.note-full .edit-work.ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.note-full .edit-author.li,
.note-full .edit-work.li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.note-full .edit-author.option,
.note-full .edit-work.option {
  background: transparent;
  border: none;
  color: #393939;
  display: inline;
  margin: 0px;
  padding: 2px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.note-full .edit-author.option::after,
.note-full .edit-work.option::after {
  content: "? ";
}
.note-full .edit-author.option.new::before,
.note-full .edit-work.option.new::before {
  background-image: url("/icons/plus.svg");
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 15px;
  content: "";
}
.note-full.form-label {
  font-size: 12px;
  padding: 2px;
  text-transform: uppercase;
  font-family: "Avenir", "Candara", "Arial", sans-serif;
  display: flex;
  align-items: flex-start;
}
.note-full.clickable-label-button {
  display: inline;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  font-size: 9px;
  background-color: var(--button-background);
  cursor: pointer;
}

.action-bar {
  width: 100%;
  text-align: right;
  margin-top: 4px;
}

.action-button {
  border-style: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  width: 50px;
}
@media (prefers-color-scheme: dark) {
  .action-button img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
.action-button:hover {
  background-color: #F7FCF7;
}
.action-button:hover img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}
.action-button:focus {
  box-shadow: 0px 0px 4px 4px var(--button-shadow-color);
  outline: none;
}
.action-button:focus img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.left-div {
  float: left;
}

.right-div {
  float: right;
}

.note-slim.outer {
  color: #efefef;
  display: flex;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: transparent;
}
.note-slim.outer.selected {
  background-color: var(--semantic-selection);
}
.note-slim.inner {
  margin: 4px;
}
.note-slim.inner.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.note-slim.inner .pile,
.note-slim.inner .idea {
  border-radius: 4px;
  border-style: none;
  color: black;
  font-size: 13px;
  margin: 4px;
  padding: 2px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.note-slim.inner .pile::before {
  background-image: url("/icons/stack.svg");
  background-size: 13px 15px;
  display: inline-block;
  width: 13px;
  height: 13px;
  content: "";
}
.note-slim.inner .idea::before {
  background-image: url("/icons/tags.svg");
  background-size: 13px 13px;
  display: inline-block;
  width: 14px;
  height: 13px;
  content: "";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  max-width: 68em;
  padding: 0px;
  margin: auto;
  color: var(--font-color);
}

body {
  background: var(--background-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.url {
  font-family: "Courier New", Courier, monospace;
}

div .top-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 1;
}
.top-bar .title-bar {
  display: none;
  width: 50%;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .top-bar .title-bar {
    display: block;
  }
}
.top-bar .title-bar .title {
  font-size: 24px;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 768px) {
  .top-bar .title-bar .title {
    display: block;
    font-size: 34px;
  }
}
.top-bar .top-action-bar {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 4em;
}
@media (min-width: 768px) {
  .top-bar .top-action-bar {
    width: 50%;
  }
}
.top-bar .tool-bar.div {
  margin: 0px 0px 0px 10px;
  align-self: center;
}

.standard-button {
  background-color: var(--button-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: var(--font-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 42px;
  margin: 4px 0px 4px 0px;
  padding: 6px;
}
@media (prefers-color-scheme: dark) {
  .standard-button img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
.standard-button + .standard-button {
  margin-left: 4px;
}
.standard-button.left {
  border-radius: 4px 0px 0px 4px;
  border-right: 0px;
}
.standard-button.right {
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-left: 0px;
}
.standard-button.left-right {
  border-radius: 4px 4px 4px 4px;
}
.standard-button.middle {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 0px;
}
.standard-button.button-selected:focus {
  border-color: var(--button-selected);
  outline: none;
}
.standard-button.button-selected {
  background-color: var(--button-selected);
}
.standard-button.button-selected img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}
.standard-button:focus {
  border-color: var(--button-selected);
  outline: none;
}
.standard-button:hover {
  background-color: var(--button-background-hover);
  color: var(--font-color-ignores-theme);
  cursor: pointer;
  outline: none;
  border-color: white;
}
.standard-button:hover img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}
.standard-button.hidden {
  display: none;
}

.idea.container, .pile.container {
  background-color: transparent;
  width: 60%;
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 2px;
}
.idea.search-box, .pile.search-box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: solid;
  border-radius: 4px;
  font-size: 15px;
  margin: 4px;
  padding: 4px;
}
.idea.search-box:focus, .pile.search-box:focus {
  outline: none;
}
.idea.search-box.pile, .pile.search-box.pile {
  border-color: var(--semantic-pile);
}
.idea.search-box.idea, .pile.search-box.idea {
  border-color: var(--semantic-idea);
}
.idea.label, .pile.label {
  border-style: solid;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--note-background);
  color: black;
  font-size: 15px;
  margin: 2px 0px 2px 0px;
  padding: 4px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--font-color);
}
.idea.label:focus, .pile.label:focus {
  border-color: black;
}
.idea.label:hover, .pile.label:hover {
  background-color: var(--semantic-selection);
  cursor: pointer;
}
.idea.label.edit:hover, .pile.label.edit:hover {
  background-color: var(--semantic-removal);
}
.idea.label.edit::after, .pile.label.edit::after {
  background-image: url("/icons/cross.svg");
  background-size: 15px 15px;
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
}
.idea.label.pile, .pile.label.pile {
  background-color: var(--semantic-pile);
}
.idea.label.idea, .pile.label.idea {
  background-color: var(--semantic-idea);
}
.idea.pre, .pile.pre {
  font-size: 10px;
  background-color: white;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: bottom;
}
.idea.ul, .pile.ul {
  display: block;
  margin: 0px;
  padding: 0px;
}
.idea.li, .pile.li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.idea.autocomplete-div, .pile.autocomplete-div {
  text-align: right;
}
.idea .option, .pile .option {
  border-radius: 4px;
  border-style: none;
  border-width: 0px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--font-color);
}
.idea .option.pile, .pile .option.pile {
  background-color: var(--semantic-pile);
}
.idea .option.idea, .pile .option.idea {
  background-color: var(--semantic-idea);
}
.idea .option::after, .pile .option::after {
  content: "? ";
}
.idea .option.new::before, .pile .option.new::before {
  background-image: url("/icons/plus.svg");
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 15px;
  content: "";
}

.pile-select.search-box {
  background-color: var(--note-background-edit);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  margin: 0px;
  padding: 4px;
  text-decoration: none;
}
.pile-select.button {
  background-color: var(--button-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  margin: 0px;
  padding: 4px;
  text-decoration: none;
}
.pile-select.button:hover {
  cursor: pointer;
  background-color: var(--semantic-selection);
  outline: none;
}
.pile-select.autocomplete-div {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.pile-select.ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.pile-select.li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.pile-select.option {
  background: transparent;
  border: none;
  color: darkgray;
  display: inline;
  margin: 0px;
  padding: 4px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.pile-select.option::after {
  content: "? ";
}
.pile-select.option.new::before {
  background-image: url("/icons/plus.svg");
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 15px;
  content: "";
}

.search-bar.container {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
}
.search-bar.autocomplete-div {
  display: inline-block;
}
.search-bar.current-modifier {
  background: var(--inverse-background-color);
  border-radius: 4px;
  border-style: none;
  color: var(--inverse-font-color);
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  margin: -2px;
  padding: 12px;
  vertical-align: top;
}
.search-bar.search-box {
  background: transparent;
  border-style: none;
  color: var(--font-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  margin: 4px auto;
  padding: 6px;
  width: 100%;
}
.search-bar.search-box:focus {
  outline: none;
}
.search-bar.ul {
  display: block;
  padding: 0px;
  margin: 0px;
}
.search-bar.li {
  display: inline;
}
.search-bar.option {
  background-color: var(--button-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: var(--font-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  margin: 4px;
  padding: 4px;
  text-align: left;
}
.search-bar.option:focus {
  background-color: var(--button-background-hover);
  color: var(--font-color-ignores-theme);
  border-color: black;
  outline: none;
}
.search-bar.option:not(.new)::after {
  content: "?";
}
.search-bar.option.new::before {
  background-image: url("/icons/plus.svg");
  background-size: 24px 24px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
}

.grid {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.grid-selected {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: var(--semantic-selection);
  align-items: center;
}

.grid-div-button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.grid-link,
a.grid-link {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 30px;
}

.grid-author,
.grid-title,
.grid-text {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
  font-size: 12px;
}

.grid-nick {
  width: 8%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.grid-title {
  width: 22%;
  font-size: 12px;
}

.grid-text {
  width: 55%;
  font-size: 12px;
}

.grid-unprintable {
  color: var(--background-color);
}

.grid-button {
  background: transparent;
  border-style: none;
}

.multi-select {
  position: relative;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.multi-select.search-box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 8px;
  margin: 2px;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  border-style: solid;
}
.multi-select.ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.multi-select.li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.multi-select.option, .multi-select.option-new {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 8px;
  margin: 2px;
  border-width: 2px;
  border-color: var(--button-background);
  border-radius: 4px;
  border-style: solid;
  background: white;
  text-align: left;
}
.multi-select.option:focus, .multi-select.option-new:focus {
  border-color: black;
}
.multi-select.option-new::before {
  background-image: url("/icons/plus.svg");
  background-size: 17px 17px;
  display: inline-block;
  width: 15px;
  height: 13px;
  content: "";
}

.multi-select-top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 4em;
  background: var(--background-color);
  padding-bottom: 4px;
  padding-top: 4px;
  min-height: 52px;
}

div .image-row {
  display: flex;
  flex-wrap: wrap;
}
.image-row.image-frame {
  height: 120px;
  width: 80px;
  background-color: var(--background-color);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  vertical-align: center;
  display: flex;
}
.image-row.image-frame.selected {
  background-color: var(--button-background-hover);
}
.image-row.image-frame:hover {
  background-color: var(--semantic-selection);
  cursor: pointer;
}
.image-row.image-frame.remove:hover {
  background-color: var(--semantic-removal);
}
.image-row img {
  max-height: 110px;
  max-width: 70px;
  margin: auto;
  display: block;
}

.large-image {
  max-width: 98%;
  margin: auto;
  max-height: 98%;
}

.work-list a {
  text-decoration: none;
}
.work-list .work {
  font-size: 18px;
  padding: 4px;
  margin: 4px;
}
.work-list .work:hover {
  background-color: white;
  border-radius: 4px;
}
.work-list .date {
  font-size: 14px;
  padding: 4px;
  margin: 4px;
}

.result-box {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 18px;
}
.result-box.header {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
}
.result-box .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result-box.content {
  display: block;
  padding: 0px;
  margin: 8px 10px 0px 16px;
  display: flex;
  align-items: flex-start;
}
.result-box:hover {
  background-color: var(--note-background-edit);
}
.result-box.parent {
  display: block;
  padding: 0px;
  margin: 8px 10px 0px 16px;
  display: flex;
  align-items: flex-start;
}
.result-box.parent:hover {
  background-color: transparent;
}
.result-box .date {
  font-size: 14px;
  padding: 4px;
  margin: 4px;
}

.top-level.container {
  display: flex;
  flex-direction: column;
}
.top-level.pre-title {
  font-size: 18px;
  align-self: center;
  font-family: "Avenir", "Candara", "Arial", sans-serif;
  text-transform: uppercase;
}
.top-level.title {
  font-size: 30px;
}
.top-level.sub-title {
  font-size: 22px;
}
.top-level.post-button-content {
  white-space: pre-wrap;
  display: block;
  background-color: white;
  border-color: var(--note-border);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 0px 0px 4px 0px;
  padding: 6px;
}
.top-level.form-label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Avenir", "Candara", "Arial", sans-serif;
  display: block;
  color: var(--font-color);
}
.top-level.form-container {
  padding: 4px;
}
.top-level.input {
  background-color: var(--input-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 4px;
  width: 100%;
}
.top-level.input.textarea {
  box-sizing: border-box;
  display: block;
  margin: auto;
  resize: none;
  white-space: pre-wrap;
}
.top-level.input:focus {
  background-color: var(--input-background-focus);
}
.top-level.author-select.search-box {
  background-color: var(--input-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 4px;
}
.top-level.author-select.autocomplete-div {
  display: inline-block;
}
.top-level.author-select.ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.top-level.author-select.li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.top-level.author-select.option {
  background: transparent;
  border: none;
  color: darkgray;
  display: inline;
  margin: 0px;
  padding: 4px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.top-level.author-select.option::after {
  content: "? ";
}
.top-level.author-select.option.new::before {
  background-image: url("/icons/plus.svg");
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 15px;
  content: "";
}

.upload-form {
  display: inline;
}
.upload-form.hidden {
  visibility: hidden;
  display: none;
}

.file-drop {
  align-items: center;
  background-color: var(--button-background);
  border-color: var(--low-intensity-border);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  display: inline-flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  height: 42px;
  margin-left: 4px;
  margin: 4px 0px 4px 0px;
  padding: 6px;
}
.file-drop.no-margin-no-border {
  margin: 0px;
  border-width: 0px;
}
.file-drop:hover {
  background-color: var(--button-background-hover);
  color: var(--font-color-ignores-theme);
  cursor: pointer;
  outline: none;
  border-color: white;
}
.file-drop:hover img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.drag-active {
  background-color: var(--button-background-hover);
  color: var(--font-color-ignores-theme);
  cursor: pointer;
  outline: none;
  border-color: white;
}
.drag-active img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.upload-label {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
